<h1>Event List</h1>

<table>
<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td>
      <%= link_to "顯示", event_path(event) %>
      <%= link_to "編輯", edit_event_path(event) %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to "新增 Event", new_event_path %>